<div class="sm_block">
    <div class="image_wrap">
        <a href="http://blog.samhsa.gov" onClick="_gaq.push([\'_trackEvent\', \'BlogBlock\', \'Click\', \'Banner\']);"><img src="{{ path }}/assets/images/socialmedia-blog-img.jpg" alt="The SAMHSA Blog: Get support" /></a>
        </div>
    <div class="landing_yellow">
        <div id="blog_icon"><a href="http://blog.samhsa.gov" onClick="_gaq.push([\'_trackEvent\', \'BlogBlock\', \'Click\', \'Icon\']);"></a></div>
        <div class="yellow"><a href="http://blog.samhsa.gov" onClick="_gaq.push([\'_trackEvent\', \'BlogBlock\', \'Click\', \'SAMHSA Blog_Text\']);">SAMHSA Blog</a> &nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="sm_scroll2">
            <div>
                <h3><a href="{{ link }}">{{ atitle }}</a></h3>
                {{ date }}
                {{ author }}
                <br/><br/>
                {{ description }}
                &nbsp;<a href="{{ link }}">Read the Full Story...</a>
                </div>
            </div>
    </div>
</div>
