// Typography
//==========================================================================

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $weight-bold;
  line-height: $heading-line-height;
  margin: $base-spacing 0 $small-spacing;
  color: $blue-gray;
}
h1{
  font-size: 2.4rem;
  margin-top: 0;
}
h1.program-title {
  font-size: 30px;
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    width: 80px;
    content: "";
    border-bottom: 4px solid $red;
    bottom: -7px;
  }
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.8rem;
  font-weight: $weight-bold;
}
h4{
  font-size: 1.6rem;
}
h5{
  font-size: 1.5rem;
}
h6{
  font-size: 1.5rem;
  font-weight: $weight-regular;
}
p {
  margin: 0 0 $small-spacing;
}
a {
  transition: color $base-duration $base-timing;
  @include hover-unstyled-link;
}
strong, b{
  font-weight: $weight-bold;
}
hr {
  border-bottom: 1px solid $dark-gray;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}


//Blockquote
//-----------------------------------

blockquote{
  margin: 0 0 $base-spacing 0.5em;
  padding: 0 0 0 1em;
  border-left: 5px solid $base-font-color;
  line-height: 1.4;
}

// Links
//------------------------------------------

a {
  @include link-colors($action-color, $action-color-hover, $action-color-hover, $action-color, $action-color-hover);
}


// samhsa-icon font icons
//==============================================

// Create the font family
//----------------------------------------------
@font-face {
  font-family: 'samhsa-icons';
  src:  url('../../fonts/icomoon/samhsa-icons/samhsa-icons.eot?xd8hxr');
  src:  url('../../fonts/icomoon/samhsa-icons/samhsa-icons.eot?xd8hxr#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/samhsa-icons/samhsa-icons.woff2?xd8hxr') format('woff2'),
    url('../../fonts/icomoon/samhsa-icons/samhsa-icons.ttf?xd8hxr') format('truetype'),
    url('../../fonts/icomoon/samhsa-icons/samhsa-icons.woff?xd8hxr') format('woff'),
    url('../../fonts/icomoon/samhsa-icons/samhsa-icons.svg?xd8hxr#samhsa-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="samhsa-icons-"], [class*=" samhsa-icons-"] {
  font-family: 'samhsa-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



