{% if gfacet is not null and gfacet == search_facet_2 %}
	{% set ph = search_placeholder_text_2 %}
{% else %}
	{% set ph = search_placeholder_text_1 %}
{% endif %}

{# Magnifying icon at mobile sizes #}
<div>
  <a href="#" id="search-toggle" rel="nofollow"><span class="samhsa-icons-magnify" aria-label="Search"></span><span class="visually-hidden">Search</span></a>
</div>

{# The Search #}
<div{{ attributes.addClass('head-search-wrapper') }}>
	<div class="search-form-wrapper">
		<form action="{{ form_action }}" class="searchcontainer {{ search_radio ? 'with-radios' }} {{ use_search_icon ? 'use-search-icon' }}" id="searchSAMHSA" method="get" name="gs" role="search" target="_self">
			<input class="samhsasearchbox" id="q" name="k" {% if gk is not empty and gk is not null %} value="{{ gk }}" {% else %} placeholder="{{ ph }}" {% endif %}  type="search" aria-label="SAMHSA Search" />

      <label class="visually-hidden" for="q">SAMHSA Search</label>


      {# Only show if radio buttons are enabled #}

      {% if search_radio %}
        {{ attach_library('samhsa_mindbreeze/mindbreeze_radios') }}
  	    <input id="ph1" type="hidden" value="{{ search_placeholder_text_1 }}" />
	    <input id="facet1" type="hidden" value="{{ search_facet_1 }}" />
		<input id="ph2" type="hidden" value="{{ search_placeholder_text_2 }}" />
		<input id="facet2" type="hidden" value="{{ search_facet_2 }}" />
        <div class="search_radio">
  				<div class="facet_one">
  					<input type="radio" value="{{ search_facet_1 }}" class="collectionator" name="facet" {% if gfacet == search_facet_1 or gfacet is null or gfacet is empty %}
checked="checked"{% endif %}>
					<label class="radio_button_show" for="facet1">{{ search_label_1 }}</label>
  				</div>
  				<div class="facet_two">
                    <input type="radio" value="{{ search_facet_2 }}" class="collectionator" name="facet" {% if gfacet == search_facet_2 %} checked="checked"{% endif %}>
					<label class="radio_button_show" for="facet2">{{ search_label_2 }}</label>
  				</div>
  		</div>
	  {% else %}
		  <input id="ph1" type="hidden" value="{{ search_placeholder_text_1 }}" />
		  <input id="facet1" type="hidden" value="{{ search_facet_1 }}" name="facet" />
      {% endif %}

            <label class="btn samhsasearchbuttonlabel visually-hidden" for="bodySearchAll">{{ search_placeholder_text_1 }}</label>
            <button id="bodySearchAll" class="btn samhsasearchbutton">
            {% if use_search_icon %}
            <img src="{{ image_path }}/search.svg" title="search" class="whitehouse-logo" alt="Search" aria-label="Search" width="16" height="16" />
            {% else %}
            Search
            {% endif %}
            </button>

		</form>
	</div>
</div>
