// Colors
//New 2019 theme colors
//===============================
$white: #FFFFFF;
$black: #000000;

//grays
$dark-gray: #4A4A4A;
$dark-gray2: #5f636a;
$medium-gray: #dee4e7;
$light-gray: #CDCDCD;
$lighter-gray: #EEEEEE;

//new SAMHSA colors
$blue: #1F419A;
$blue-gray: #1E384B;
$teal: #1A6986;
$red: #CD3835;
$red-dark: #A82D2B;  

// General colors (non-specific variable term)
//-----------------------------------------------------

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;
$action-color-hover: $red-dark;
$light-font-color: $white;

//Message Colors
$message-color: $light-gray;
$error-color: #C00;
$warning-color: #FC0;
$status-color: #3C0;

// Background Colors
$base-background-color: $white;
$second-background-color: $white;
$base-accent-color: $blue-gray;
$highlight-color: #f6ecab;
$megamenu-highlight-color: $blue-gray;
$megamenu-gray: $lighter-gray;

//Main menu color
$mm-bg-1: $blue-gray;
$mm-bg-2: $blue-gray;
$mm-color: $white;
$mm-icon-color: $white;

//Side menu color
$sm-bg-1: $red;
$sm-bg-2: $light-gray;
$sm-bg-3: $lighter-gray;
$sm-bg-4: #DADADA;
$sm-color-1: $white;
$sm-color-2: $black;
$sm-border: 1px solid $white;

//Social Media colors
$fb-color: #3A67B8;
$tw-color: #00A2F9;
$yt-color: #FF0000;
$blog-color: #1C7491;











