<div{{ attributes }}>
	<p class="social">
		<a class="sprite social-button button-facebook" href="https://www.facebook.com/samhsa">Facebook</a>
		<a class="sprite social-button button-twitter" href="https://twitter.com/samhsagov">Twitter</a>
		<a class="sprite social-button button-youtube" href="https://www.youtube.com/samhsa/">YouTube</a>
		<a class="sprite social-button button-rss" href="https://www.samhsa.gov/rss">RSS</a>
	</p>

	<p>
		<a class="banner-button" href="https://public.govdelivery.com/accounts/USSAMHSA/subscriber/new"><img alt="Sign up for Email Updates" src="{{ image_path }}/banners/emailupdatesbtn.png"/></a>
	</p>

	<p>
		<a class="banner-button" href="https://blog.samhsa.gov/"><img alt="Check out the SAMHSA blog" src="{{ image_path }}/banners/blogbtn.png"/></a>
	</p>
</div>
