<div class="frontpage-motto-mobile">
	<div>
		<a href="http://www.samhsa.gov/topics">
			<img alt="Behavioral Health is Essential" src="{{ image_path }}/slogan/slogan1.jpg"/></a>
	</div>
	<div>
		<a href="http://www.samhsa.gov/prevention">
			<img alt="Prevention Works" src="{{ image_path }}/slogan/slogan4.jpg"/></a>
	</div>
	<div>
		<a href="http://www.samhsa.gov/treatment">
			<img alt="Treatment is Effective" src="{{ image_path }}/slogan/slogan2.jpg"/></a>
	</div>
	<div>
		<a href="http://www.samhsa.gov/recovery">
			<img alt="People Recover" src="{{ image_path }}/slogan/slogan3.jpg"/></a>
	</div>
</div>

<div class="frontpage-motto">
	<a href="http://www.samhsa.gov/topics">
		<img class="motto_banner_segment_1" alt="Behavioral Health is Essential" src="{{ image_path }}/slogan/slogan-homepage_01.jpg"/></a>
	<a href="http://www.samhsa.gov/prevention">
		<img class="motto_banner_segment_2" alt="Prevention Works" src="{{ image_path }}/slogan/slogan-homepage_02.jpg"/></a>
	<a href="http://www.samhsa.gov/treatment">
		<img class="motto_banner_segment_3" alt="Treatment is Effective" src="{{ image_path }}/slogan/slogan-homepage_03.jpg"/></a>
	<a href="http://www.samhsa.gov/recovery">
		<img class="motto_banner_segment_4" alt="People Recover" src="{{ image_path }}/slogan/slogan-homepage_04.jpg"/></a>
    
  {#
	<!-- //This is the infamous imagemap resizing bugwe will solve this later!!!!! -->
	<!-- <div> -->
	<!-- <img class="Motto_Banner" alt="Behavioral Health is Essential, Prevention Works, Treatment is Effective, People Recover" -->
	<!-- src="{{ image_path }}/Slogan-desktopjpg" usemap="#Slogan_Map" /></div> -->
	<!-- <map name="Slogan_Map" class="Slogan_Map"> -->
	<!-- <area shape="poly" coords="0,0,0,49,178,49,194,25,178,0" href="/topics" alt="Behavioral health is essential to health" /> -->
	<!-- <area shape="poly" coords="182,0,198,25,182,49,327,49,343,25,326,0" href="/prevention" alt="Prevention works" /> -->
	<!-- <area shape="poly" coords="330,49,347,25,330,0,477,0,494,25,477,49" href="/treatment" alt="Treatment is effective" /> -->
	<!-- <area shape="poly" coords="481,49,498,25,481,0,641,0,641,49,481,49" href="/recovery" alt="People recover" /> -->
	<!-- </map> -->
  #}
</div>
