<ul {{ attributes.addClass('share-buttons') }}>
  <li>
    {# <!-- AddThis Button BEGIN --> #}
    <a class="addthis_button" href="//www.addthis.com/bookmark.php?v=300&amp;pubid=ra-51bf394976d1e084"> <img src="{{ image_path }}/addthis/share.png" alt="Bookmark and Share" style="border:0"/></a> 
    {# <!-- AddThis Button END --> #}
  </li>
  <li><a href="/rss"><img src="{{ image_path }}/addthis/rss.png" alt="Subscribe to SAMHSA's RSS feeds" /></a></li>
  <li><a href="#" onclick="window.open('https://public.govdelivery.com/accounts/USSAMHSA/subscriber/new?pop=t', '', 'scrollbars=1,toolbar=0,menubar=0,resizable=1,width=800,height=384');return false;"> <img src="{{ image_path }}/addthis/email-icon-21x21.png" alt="GovDelivery"></a></li>
  <li> 
    <script>var pfHeaderImgUrl = '';var pfHeaderTagline = '';var pfdisableClickToDel = 0;var pfHideImages = 0;
        var pfImageDisplayStyle = 'right';var pfDisablePDF = 0;var pfDisableEmail = 0;var pfDisablePrint = 0;
        var pfCustomCSS = '';var pfBtVersion='1';(function(){var js, pf;pf = document.createElement('script');
        pf.type = 'text/javascript';if('https:' == document.location.protocol)
            {js='https://pf-cdn.printfriendly.com/ssl/main.js'}else{js='http://cdn.printfriendly.com/printfriendly.js'}
        pf.src=js;document.getElementsByTagName('head')[0].appendChild(pf)})();</script>
    <a href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly" onclick="window.print();return false;" title="Printer Friendly and PDF"> <img style="border:none;" src="/{{ image_path }}/addthis/print.png" alt="SAMHSA Print Friendly and PDF"/></a>
  </li>
</ul>