#omega-screen--indicator{display: none !important;}


// Main content container
//--------------------------------------------------------------
#main-layout{
  padding: $gutters;
  background-color: $white;
}

// Content Columns
//==========================================================================

@include breakpoint ($break-mobile-landscape){
  //Main layout container with .region--content and .region--content-bottom
  .content-inner-regions {
		@include grid-span(12, 1);
		
		.region--content{
    		@include grid-span(12, 1);
 		 }
		
		.region--content-bottom {
			clear:both;
		}
	}
  
  //Only sidebar first
  //-------------------------------
  .with--sidebar-first.without--sidebar-second{   
    .region--sidebar-first{
      @include grid-span(3, 1);
    }
	.content-inner-regions { //main content container 
		@include grid-span(9, 4);
		
		.region--content {
    		@include grid-span(12, 1);
 		 }
 		 
 		 .region--content-bottom {
			clear:both;
		}
	}
  }

  //Only sidebar second
  //-------------------------------
  .with--sidebar-second.without--sidebar-first{
	.content-inner-regions {
		@include grid-span(8, 1);
		
		.region--content{
    		@include grid-span(12, 1);
 		 }
		
		.region--content-bottom {
			clear:both;
		}
	}
    .region--sidebar-second{
      @include grid-span(4, 9);
    }
  }

  //both sidebars (second sidebar is pushed under at small sizes)
  //-------------------------------
  .with--sidebar-first.with--sidebar-second{
	.content-inner-regions {
		@include grid-span(9, 4);
		
		.region--content{
    		@include grid-span(12, 1);
 		 }
		
		.region--content-bottom {
		clear:both;
		}
	}
    .region--sidebar-first {
      @include grid-span(3, 1);
    }
    .region--sidebar-second {
      @include grid-span(9, 4);
      clear: both;
    }
  }
}

//Go to 3 cols with both sidebars
//-------------------------------
@include breakpoint ($break-tablet-landscape){  
  .with--sidebar-first.with--sidebar-second{ 
	.content-inner-regions {
	  @include grid-span(6, 4);
	  
		  .region--content{
	    		@include grid-span(12, 1);
	 		 }
		
		.region--content-bottom {
			clear:both;
		}
	}
    .region--sidebar-first{
      @include grid-span(3, 1);
    }
    .region--sidebar-second{
      //@include grid-span(4, 9);
      @include grid-span(3, 10);
    }
  }
}