{#
/**
 * @file samhsa_latlon_caching_entity.html.twig
 * Default theme implementation to present Cache lat lon entity data.
 *
 * This template is used when viewing Cache lat lon entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_samhsa_latlon_caching_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('samhsa_latlon_caching_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
