@charset "utf-8";
/* CSS Document */
.countdown-widget {
        text-align: center;
        background: #ffffff;
        color: #000000;
        padding: 10px 10px 35px;
		position: relative;
        border: 1px solid #764b0d;
        background: url('../assets/images/countdown-bg.gif') bottom center repeat-x;
    }
    .countdown-comma {
        display: none;
    }
    .countdown-time-remaining {
        display: block;
        text-align: center;
        width: 100%;
        font-family: Georgia, serif;
        display: none;
    }
    .countdown-time-unit {
        display: inline-block;
        text-align: center;
        padding: 0 1em;
    }
    .countdown-time-num {
        font-size: 36px;
        display: block;
        font-weight: bold;
        text-align: center;
        font-style: normal;
        color: #8a180e;
    }
    .seconds .countdown-time-num {
        display: inline-block;
        width: 1.3em;
        text-align: left;
    }
    .seconds .countdown-time-num.lt10 {
        text-align: center;
    }
    .countdown-time-word {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        color: #444444;
        letter-spacing: 0.2em;
    }
    .countdown-time-until {
        display: block;
        padding: 5px 15%;
        width: 40%;
        margin: 0 auto 5px;
        font-family: Georgia, serif;
        font-style: italic;
        border-bottom: 1px solid #764b0d;
        text-align: center;
        color: #764b0d;
        font-size: 24px;
        letter-spacing: 0.15em;
    }
    .countdown-title {
        display: block;
        text-align: center;
        color: #8a180e;
        font-size: 28px;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
    .countdown-date {
        display: block;
        text-align: center;
        color: #8a180e;
        font-size: 16px;
        font-family: Arial, sans-serif;
    }
    .countdown-control {
        position: absolute;
        bottom: 30px;
        right: 10px;
        width: 0px;
        height: 0px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #d1ac3a;
        margin-right: 4px;
        text-indent: -9999em;
        overflow: none;
        background: transparent;
        cursor: pointer;
    }
    .countdown-control.pause {
        width: 12px;
        height: 12px;
        border-left: 4px solid #764b0d;
        border-right: 4px solid #764b0d;
        border-top: none;
        border-bottom: none;
        margin-right: 0;
    }
