{#
/**
 * @file samhsa_physician_address.html.twig
 * Default theme implementation to present Samhsa Physician Address data.
 *
 * This template is used when viewing Samhsa Physician Address pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_samhsa_physician_address()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('samhsa_physician_address') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
