<!-- COUNTDOWN WIDGET -->
<!-- countdown markup -->
{{ attach_library('samhsa_npw_countdown/theme_es') }}
<div class="countdown-widget">
    <span class="countdown-time-remaining">
        <span class="countdown-time-unit days">
            <span class="countdown-time-num"></span>
            <span class="countdown-time-word"></span>
        </span>
        <span class="countdown-comma"></span>
        <span class="countdown-time-unit hours">
            <span class="countdown-time-num"></span>
            <span class="countdown-time-word"></span>
        </span>
        <span class="countdown-comma"></span>
        <span class="countdown-time-unit minutes">
            <span class="countdown-time-num"></span>
            <span class="countdown-time-word"></span>
        </span>
        <span class="countdown-comma"></span>
        <span class="countdown-time-unit seconds">
            <span class="countdown-time-num"></span>
            <span class="countdown-time-word"></span>
        </span>
            <span class="countdown-time-until"></span>
    </span>
    <span class="countdown-title">
        La Semana Nacional de Prevenci&oacute;n {{ year }}
    </span>
    <span class="countdown-date">
        {{ date }}
    </span>
</div>
