//Double caret lists (used in mega menu)
//--------------------------------------
ul.double-caret li{
  @include double-caret;
}

.region--content .pager ul{
    text-align: center;
  }






