{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="form--inline clearfix">
  {{ form }}
  
 <div  class="view-icons-group">
  <h4>Icon Key</h4>
    <img src="{{ path('<front>') }}/sites/default/files/images/playarrow-sm.gif" alt="Icon indicating a webinar is available for this announcement" /> Webinar available  
      <br>
    <img alt="Icon indicating FAQs are available for this announcement" src="{{path('<front>')}}/sites/default/files/images/questionmark-sm.gif"/> Frequently Asked Questions (FAQs) available
   </div>
   
</div>
