

input#q.samhsasearchbox {
	height: 32px;
	border-radius: 0;
}
.search-form-wrapper .search_radio {
	position: relative;
	top: 3px;
	left: 0px;
	text-align: left;
	line-height: 1.2;
	width: 250px;
}

.search_radio .facet_one, 
.search_radio .facet_two {
	display: inline-block;
}

form.with-radios {
	padding-right: 3em;
}

form.use-search-icon {
	padding-right: 3em;
}

.search-form-wrapper form.use-search-icon.with-radios {
	padding-right: 3em;
}

.search-form-wrapper label.radio_button_show {
	font-size: 13px;
	vertical-align: text-top;
	margin-right: 10px;
}
.search-form-wrapper form.use-search-icon.with-radios, 
.search-form-wrapper form.use-search-icon {
	padding-right: 3em;
}

/*from _component_header_search*/
/*Mobile Search button*/

#search-toggle{
  text-decoration: none;
  font-size: 32px;
}

.search-form-wrapper {
	overflow: hidden;
	border-top: 1px solid #ccc;
	padding: 15px;
}

.search-form-wrapper form {
	margin: 0 auto;
	padding: 0 5.5em 0 0;
	position: relative;
	max-width: 450px;
	width: 100%;
}

.search-form-wrapper input, 
.search-form-wrapper button, 
.search-form-wrapper label {
	margin: 0;
}

.search-form-wrapper label {
	font-weight: normal;
}
.search-form-wrapper .samhsasearchbutton {
	position: absolute;
	top: 0;
	right: 0;
	border-width: 1px;
}
.search-form-wrapper form.use-search-icon .samhsasearchbutton {
	padding: 0 1em;
	height: 32px;
}

button#bodySearchAll {
    background-color: #1A6986;
    background-image: none;
    border: 1px solid #1A6986;
    border-radius: 0;
}

button#bodySearchAll:hover{
	background-color: #5f636a;
	border: 1px solid #5f636a;
}

/* to use for white m-glass icon
 =================================

#search-toggle {
    width: 32px;
    padding-bottom: 5px;
}
*/

@media (max-width: 768px){
	.media-object img{
		display:none;
	}
}

@media (min-width: 624px) {
	.search-form-wrapper {
		border-top: none;
		padding: 0 20px;
	}
	.search-form-wrapper form {
		margin: 1.25em 0;
		padding: 0 3em 0 6em;
		float: right;
	}
}


