footer {
    height: auto;
    margin:0;
}

.page-search-results h1, h2, h3 {
    line-height: 20px;
}

.page-search-results .row-fluid .span12 {
    width: 100%;
    border-top: 1px solid #eee;
    margin: 20px 0;
    padding: 20px 0;
}

.page-search-results .mb-container div#main,
.page-search-results .mb-component-container.container {
    width: 100%;
    margin: 0 auto;
  }
  
.page-search-results img {
	max-width: 100%!important;
}

.span12.results {
	margin-left: 0;
}
 
.mb-stack {
    margin: 0;
    width: 100%;
    padding: 0;
}

form.mb-center {
    margin: 0;
}
  
#block-searchresults button.btn.hidden-when-mb-stack-has-child.btn-export {
    display: none;
}

.mb-component-container.container {
    max-width: 940px;
}

p.mb-content em {
    color: #CD3835;
}

#block-searchresults .sortBy [type=radio] {
    display: block;
}

#block-searchresults .sortBy select{
	padding:.25em;
}

#block-searchresults label.mb-hidden-radio input:checked + span {
    background-color: #000;
}

#block-searchresults .span3 .sortBy select {
    width: 150px;
    height: 34px;
}

#block-searchresults .mb-hidden-radio {
    color: black;
}

#block-searchresults .span3 .sortBy fieldset {
    float: none;
    border: 1px solid silver;
    margin: 0 2px;
    width: 65px;
    padding: 0;
}

#block-searchresults fieldset.pull-left.sort {
    display: inline-block;
    height: 34px;
    position: relative;
    top: -44px;
    left: 160px;
}

/*Pagination
 =================================*/
.pagination.mb-dont-serialize {
    display: none;
    text-align: center;
}

.pagination.mb-dont-serialize ul {
    margin-left: 0;
}

ul.mindbreeze_pager_mobile {
    margin-left: 0px;
}

.pagination {
    text-align: center;
}

#mindbreeze-pager ul.mindbreeze_pager_mobile {
    margin: 0 0 1.5em 0;
}

ul.mindbreeze_pager_mobile a {
    color: white;
    background-color: #1E384B;
    padding: 5px 10px;
    width: 180px;
    margin: 0 auto;
    text-decoration: none;
    font-weight: bold;
}

ul.mindbreeze_pager_mobile a:hover {
    background-color: #1A6986;
}

.pagination ul>.active>a, .pagination ul>.active>span {
    color: #fff;
    background-color: #1E384B;
}

.pagination ul > li > a:hover {
    background-color: #1A6986;
    color:#fff;
}

@media (max-width: 624px){
	.results.mb-thumbnail {
    display: none;
	}
}

@media (min-width: 768px) {
    #block-searchresults form.mb-center {
        width: 40%;
    }
    ul.mindbreeze_pager_mobile {
        display: none;
    }
    .pagination.mb-dont-serialize {
        display: block;
    }
}

